.app {
  background: #209cee;
  padding: 30px;
  min-height: calc(100vh - 60px);
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  height: auto;
  padding: 5px;
  max-width: 400px;
  width: 100%;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.nudge {
  border: 1px solid red;
  animation: nudge 0.4s;
}

@keyframes nudge {
    0%   {transform: translateX( 2px)}
    25%  {transform: translateX(-2px)}
    50%  {transform: translateX( 2px)}
    75%  {transform: translateX(-2px)}
    100% {transform: translateX( 2px)}
}